<%- include("template/cabecera", {tituloWeb :"404"}) %>

<body class="h-100vh error-page">
  <div class="page relative">
    <div class="page-content">
      <div class="container text-center">
        <div class="display-1  font-weight-bold error-message">400</div>
        <h1 class="h3 fs-40 mb-3 font-weight-bold">oops!</h1>
        <p class="h5 font-weight-normal mb-0 leading-normal text-muted">Página no encontrada en el servidor</p>
        <p class="font-weight-normal  leading-normal text-muted">Lo sentimos, no pudimos encontrar la página que está buscando.</p>
        <p> <a class="btn btn-light" href="/">Inicio</a> </p>
      </div>
    </div>
  </div>
  <%- include("template/footer") %>

