  <%- include("../template/cabecera") %>
  
  <body>
  <%- include("../template/navbar") %>
  <section>
	<div class="container">
		<div class="row g-5 justify-content-between">
			<!-- Admission form START -->
			<div class="col-md-8 mx-auto">
				<!-- Title -->
				<h2 class="mb-3">Añadir nuevo usuario</h2>
				<!-- Form START -->
				<form class="row g-3" method="post" action="/usuarios">
					<h5 class="mb-0">Información personal</h5>

					<div class="col-12">
						<div class="row g-xl-0 align-items-center">
							<div class="col-lg-4">
								<h6 class="mb-lg-0">Nombre <span class="text-danger">*</span></h6>
							</div>
							<div class="col-lg-8">
								<input type="text" class="form-control" id="name" name="name">
							</div>
						</div>
					</div>

					<div class="col-12">
						<div class="row g-xl-0 align-items-center">
							<div class="col-lg-4">
								<h6 class="mb-lg-0">Apellidos<span class="text-danger">*</span></h6>
							</div>
							<div class="col-lg-8">
								<input type="text" class="form-control" id="surname" name="surname">
							</div>
						</div>
					</div>

					<div class="col-12">
						<div class="row g-xl-0 align-items-center">
							<div class="col-lg-4">
								<h6 class="mb-lg-0">Direccion <span class="text-danger">*</span></h6>
							</div>
							<div class="col-lg-8">
								<input type="text" class="form-control" id="address" name="address">
							</div>
						</div>
					</div>

					<div class="col-12">
						<div class="row g-xl-0 align-items-center">
							<div class="col-lg-4">
								<h6 class="mb-lg-0">Teléfono <span class="text-danger">*</span></h6>
							</div>
							<div class="col-lg-8">
								<input type="text" class="form-control" id="phone" name="phone">
							</div>
						</div>
					</div>
                    <div class="col-12">
						<div class="row g-xl-0 align-items-center">
							<div class="col-lg-4">
								<h6 class="mb-lg-0">Email <span class="text-danger">*</span></h6>
							</div>
							<div class="col-lg-8">
								<input type="email" class="form-control" id="email" name="email">
							</div>
						</div>
					</div>


					<div class="col-12">
						<div class="row g-xl-0 align-items-center">
							<div class="col-lg-4">
								<h6 class="mb-lg-0">Fecha de nacimiento</h6>
							</div>
                            <div class="col-lg-8">
								<input type="date" class="form-control" id="birthdate" name="birthdate">
							</div>							
						</div>
					</div>

                    <div class="col-12 text-sm-end">
						<button class="btn btn-primary mb-0">Enviar</button>
					</div>

				</form>
				<!-- Form END -->
			</div>
			<!-- Admission form END -->	
		</div>
	</div>
</section>
<%- include("../template/footer") %>

  