<header class="navbar-light navbar-sticky">
	<nav class="navbar navbar-expand-xl" style="background-color:#bee6fd">
		<div class="container">
			<a class="navbar-brand" href="/">
				<img class="light-mode-item navbar-brand-item" src="/assets/images/brand/demo-logo.webp" style="display: flex;width: 100px;height: auto;" alt="logo">
			</a>
			<div class="navbar-collapse w-100 collapse" id="navbarCollapse">

				<ul class="navbar-nav navbar-nav-scroll mx-auto">
					<li class="nav-item">
						<a class="nav-link" href="/usuarios" id="option1" aria-haspopup="true" aria-expanded="false">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/usuarios/createUser" id="option2" aria-haspopup="true" aria-expanded="false">Nuevo Usuario</a>
					</li>
					
				</ul>
			</div>
		</div>
	</nav>
</header>